.info-card{
    min-width: 190px;
    margin: 0px 20px 20px ;
    background-color: hsl(263, 52%, 40%);
    display: flex;
    flex-direction: row;
    padding:  10px 25px;
    border-radius: 8px;
    align-self: center;
    justify-self: center;
    align-items: flex-start;
    justify-content: start;

}


.info-icon{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 15px;
    border-radius:50% ;
    margin-right: 20px;
    font-size: 20px;

}

.contact-text{

    display:inline-block;
    position: relative;
    font-size: 12px;
    align-self: center;
    letter-spacing: 2px;
    font-weight: 700;
    
}




@media (max-width:720px) {
    .info-card{
    margin: 0px 25px 20px ;
    padding:  10px 10px;
    

}
.contact-text{
font-size: 10px;
}
.info-icon{
    font-size: 10px;

}
}

@media (max-width:480px) {
    .contact-text{
font-size: 8px;
font-weight: 600;
}
.info-icon{
    font-size: 8px;
    margin-right: 5px;


}
}


@media (max-width:380px) {
    .info-card{
        margin: 0px 0px 20px 0px ;
        justify-content: center;
    }
    .contact-text{
font-size: 0.5rem;
font-weight: 600;
}
.info-icon{
    font-size: 0.4rem;
    padding: 5px 7.5px;
    margin-right: 4px;

}

}