.contact-section{
    background: hsl(263, 52%, 40%);
    padding: 60px 20px 20px;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    position: relative;
    
}

.contact-wrapper {
    width: 100%;
    height: 100%;
    background-color: hsl(263, 52%, 30%);
    padding: 10px 40px 40px;
    



}

.contact-section .title {
    pointer-events: none;
    text-transform: uppercase;
    user-select: none;
    color: #000;
}

.contact-title{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 40px;
    
}




.contact-form-wrapper{
    display: flex;
    flex-direction: row;
    gap: 40px;

    align-items: center;
    justify-content: space-between;
}

.contact-container{
    max-width: 500px;
    width: 100%;
}


.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    overflow: hidden;
}



.form-group{
    width: 100%;
    margin-bottom: 25px;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    
}

label{
    display: flex;
    font-size: 25px;
    justify-self: start;
    align-self: start;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

input,
textarea {
    width: 100%;
    font-size: 20px;
    padding: 0.8em;
    color: rgb(0, 0, 0);
    background-color: hsl(263, 52%, 40%);
    outline: none;
    border: none;
    border-radius: 8px;
    margin-top: 0.2em;
    font-weight: 600;



}

textarea {
    min-height: 200px;
    resize: vertical;
}

button[type="submit"]{
    font-size: 1.5em;
    display: inline-block;
    outline: none;
    border: none;
    padding: 0.4em 2.3em;
    margin-top: 0.6em;
    background-color: hsl(263, 52%, 40%);
    font-weight: 700;
    cursor: pointer;
    border-radius: 8px;
    


}

 .form-container::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 50%;
    background-color: black;
    left: 50%;
    top: 30%;

    

}


@media (max-width:720px) {

    .contact-wrapper{
        padding: 10px 20px 40px;
    }
    .contact-form-wrapper{
    display: flex;
    flex-direction: column;
}

.form-container::after{
    
    display: none;

    

}


}


@media (max-width:480px) {
     .contact-wrapper{
        padding: 10px 5px 40px;
    }

    .title{
        font-size: 4.25em;
    }
    .form-group{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        margin-right: 0px;

    }

    label{
        align-self: center;
        justify-self: center;
        align-items: center;
        justify-content: center;
    }
    input,
textarea{
    width: 100%;
    align-self: center;
    justify-self: center;
}
}


