@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,800;0,900;1,300&display=swap');



/* ---------------------------- Website Theme ------------------- */

:root {
  --hue-1: 238 ;
  --hue-2: 47 ;
  --bg-color: hsl(11, 95%, 39%);
  --main-color-1: hsl(11, 95%, 39%);
  --main-color-2: hsl(60, 100%, 100%);
  --bg-color-transparent: rgba(255,255,255,0.2);
  --heading-color: hsl(11, 75%, 40%);
  --text-color: hsl(var(--hue-1), 14%, 65%);
}



/* ---------------------------- Main Styles --------------------- */
*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-size: 16px;
  overflow-x: hidden;
  background-color: var(--bg-color);
  font-family: 'poppins', sans-serif;
  
}

a{
  text-decoration: none;

}

ul{
  list-style: none;
}



.App {
  text-align: center;
}



section {

height: 100vh;
width: 100vw;
overflow: hidden;
}

.overlay{
  position:absolute;
  width: 100%;
  height: 100vh;
  background: var(--main-color-2);
  top:0%;
  z-index: 100000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.overlay h1 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 6.25em;
  letter-spacing: 20px;
}



@media (max-width:1200px){
  body{
    font-size: 16px;
  }
}


@media (max-width:700px){
  body{
    font-size: 12px;
  }
}

@media (max-width:480px){
  body{
    font-size: 8px;
  }
}